---
title: "Follow Feathers UI on social media"
layout: "article.html"
---
<h1>Follow Feathers UI on social media</h1>

<section class="section-three-column">
  <div class="section-row">
    {% for item in social-media %}
    <div class="section-column">
      <div class="section-column-img"><img src="{{item.image}}"></div>
      <h2><a href="{{item.link}}">{{item.title}}</a></h2>
      <p>{{item.content}}</p>
      <div class="btn-wrapper">
        <a class="btn" href="{{item.link}}">{{item.buttonText}}</a>
      </div>
    </div>
    {% endfor %}
  </div>
</section>