---
title: "Samples"
layout: "article.html"
---

<h1>Samples</h1>
<p>Official sample projects built with <a href="/">Feathers UI</a>, <a href="https://openfl.org/">OpenFL</a>, and the <a href="https://haxe.org/">Haxe</a> programming language.</p>

<h2>Application Samples</h2>
<p>Full sample application projects built using Feathers UI.</p>

<section class="section-three-column section-samples">
  <div class="section-row">
    {% for item in samples-haxe-openfl.samples %}
    {% if item.app == true %}
    <div class="section-column">
      <div class="section-column-img">
        
        <img src="{{item.image}}"></a>
      </div>
      <h2><a href="{{item.demoLink}}">{{item.title}}</a></h2>
      <p>{{item.content}}</p>
      <div class="btn-wrapper">
        <a class="btn" href="{{item.demoLink}}">Online Demo</a>
        <a class="btn" href="{{item.codeLink}}">Source Code</a>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</section>

<h2>Feature Samples</h2>
<p>Demonstrations of specific features offered by Feathers UI components.</p>

<section class="section-three-column section-samples">
  <div class="section-row">
    {% for item in samples-haxe-openfl.samples %}
    {% if item.app != true %}
    <div class="section-column">
      <div class="section-column-img">
        <a href="{{item.demoLink}}"><img src="{{item.image}}"></a>
      </div>
      <h2><a href="{{item.demoLink}}">{{item.title}}</a></h2>
      <p>{{item.content}}</p>
      <div class="btn-wrapper">
        <a class="btn" href="{{item.demoLink}}">Online Demo</a>
        <a class="btn" href="{{item.codeLink}}">Source Code</a>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</section>

<h2>Additional Samples</h2>
<p>The following sample projects have been shared by the Feathers UI developer community.</p>
<ul>
  {% for item in samples-haxe-openfl.externalLinks %}
  <li><a href="{{item.link}}">{{item.title}}</a></li>
  {% endfor %}
</ul>